<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyecto</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stilos.css">
   <link rel="stylesheet" href="java.js">
    
</head>

<!-- el menu se encuentra aqui -->

<body style="background-color: rgb(247, 240, 240);">

    <head>
        <div class="contec">
            <p>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productos.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="quienes somos.html">Quienes somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="contactanos.html">Contactanos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="servicios.html">Servicios
                            </a>
                        </li>
                    </ul>

                    <head>
                        <div class="col"></div>
                        <div class="row"></div>
                        <center>
                            <div class="border">
                                <div class="contec">
                                    <h1 class="purple-text">Productos</h1>
                                    <a title="ims" href="index.html">
                                        <img src="imagenes\vinilo.gif" style="width: 50px;" height="50px"
                                            alt="productos" /></a>
                        </center>
                </div>
            </div>
        </div>
        </div>
    </head>
    </div>
    </div>
    </head>
    </div>
<!-- hasta aqui -->


    <!-- la parte de los productos  -->

    <br>
    <div class="border">
        <div class="contec">


            <table class="table">
                <thead>

                    <tr>
                        <th scope="col">N#</th>

                        <th scope="col">Instrumento</th>

                        <th scope="col">Marca</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <div class="row">

                    </tr>
        </div>
        <tr>
            <th scope="row">1</th>
            <td> <a href="productos fender.html"> <img src="imagenes\guitarrafender.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Fender</td>
            <td>US$:500</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td> <a href="productos gibson.html"> <img src="imagenes\guitarragibson.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Gibson</td>
            <td>US$:700</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td> <a href="productos gibson.html"> <img src="imagenes\guitarragibsunnegra1.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Gibson</td>
            <td>US$:760</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td> <a href="productos fender.html"> <img src="imagenes\guitarraacusticafender.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Fender</td>
            <td>US$:400</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td> <a href="productos yamaha.html"> <img src="imagenes\guitarraacusticayamaha.png" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Yamaha</td>
            <td>US$:200</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td> <a href="productos fender.html"> <img src="imagenes\guitarrafenderacustica.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Fender</td>
            <td>US$:200</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td> <a href="productos fender.html"> <img src="imagenes\bajofender11.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Fender</td>
            <td>US$:600</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td> <a href="productos fender.html"> <img src="imagenes\bajofender.png" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Fender</td>
            <td>US$:650</td>
        <tr>
            <th scope="row">9</th>
            <td> <a href="productos fender.html"> <img src="imagenes\bajofender12.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Fender</td>
            <td>US$:550</td>
        </tr>

        <tr>
            <th scope="row">10</th>
            <td> <a href="productos yamaha.html"> <img src="imagenes\bajoyamaha13.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Yamaha</td>
            <td>US$:700</td>
        </tr>

        <tr>
            <th scope="row">11</th>
            <td> <a href="productos gibson.html"> <img src="imagenes\bateriagibson.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Gibson</td>
            <td>US$:800</td>
        </tr>

        <tr>
            <th scope="row">12</th>
            <td> <a href="productos fender.html"> <img src="imagenes\piano.jpg" style="width: 125px;" height="200px">
            </td></a>

            <td>Fender</td>
            <td>US$:1050</td>
        </tr>

        <tr>
            <th scope="row">13</th>
            <td> <a href="productos yamaha.html"> <img src="imagenes\pianoyahama.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Yamaha</td>
            <td>US$:950</td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td> <a href="productos gibson.html"> <img src="imagenes\pianogibson.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Gibson</td>
            <td>US$:1000</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td> <a href="productos fender.html"> <img src="imagenes\ukuleleaazon.jpg" style="width: 125px;"
                        height="200px"> </td></a>

            <td>Fender</td>
            <td>US$:150</td>
        </tr>

        <th scope="row">16</th>
        <td> <a href="productos fender.html"> <img src="imagenes\panderetafender.jpg" style="width: 125px;"
                    height="200px"> </td></a>

        <td>Fender</td>
        <td>US$:10</td>
        </tr>

        <th scope="row">17</th>
        <td> <a href="productos fender.html"> <img src="imagenes\bateria2.jpg" style="width: 125px;" height="200px">
        </td></a>

        <td>Fender</td>
        <td>US$:1000</td>
        </tr>

        <th scope="row">18</th>
        <td> <a href="productos yamaha.html"> <img src="imagenes\bajoyamaha.webp" style="width: 125px;" height="200px">
        </td></a>

        <td>Yamaha</td>
        <td>US$:950</td>
        </tr>

        <th scope="row">19</th>
        <td> <a href="productos fender.html"> <img src="imagenes\aplificadorfender.jpg" style="width: 125px;"
                    height="200px"> </td></a>

        <td>Fender</td>
        <td>US$:250</td>
        </tr>

        <th scope="row">20</th>
        <td> <a href="productos yamaha.html"> <img src="imagenes\aplificadoryamaha.jpg" style="width: 125px;"
                    height="200px"> </td></a>

        <td>
            <Table>Yamaha</Table>
        </td>
        <td>US$:300</td>
        </tr>
        </br>

        </tr>
        </tbody>
        </table>
        </table>
    </div>
    </div>
    
</html>
<!-- hasta aqui -->


<!-- aui se encuentra la parte del login de javascript -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="java.js">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="stilos.css">
</head>
<br>
        <div class="contec" >
            <center>
                <div class="border" style="margin: auto; left: 30; width: 500; height: 620; " >
                    <body style="background-color: rgba(4, 44, 65, 0.994);">      
     <body>
       <div class="contect">
        <form action="" method="POST" id="form">
            <div class="form">
                <h1 style="color: black;">Iniciar seción</h1>
                <div class="grupo">
                    <p>nombre</p> <input type="text" name="" id="name" placeholder="nombre" style="color: black;" required ><span class="barra"  ></span>
                   <label for=""></label>
                </div>
                <div class="grupo">
                   <p>email</p> <input type="email" name="" id="email" placeholder="@gmail" style="color: black;" required><span class="barra"></span>
                    <label for=""></label>
                </div>
                <div class="grupo">
                  <p>contraseña</p>  <input type="password" name="" id="password" placeholder="contraseña" style="color: black;" required ><span class="barra"></span>
                    <label for=""></label>
                </div>
                
               <p>registrate con un clic</p> <button type="submit" placeholder="@gmail" required>Enviar</button>
                <p class="warnings" id="warnings"></p>
            </div>
        </form>
    
        <script src="java.js"></script>
    </div>
    </body> 
    </div>
    </div>   
    </body>
    </center>
<!--hata aqui -->


<!-- parte del mapa   -->

    <head>
        <br>
        <div class="contec">
        <div class="border">
        <div class="row">
            <div class="col"><iframe style="width:400px;" height="150px"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.814813167841!2d-78.45181588605377!3d-0.0759695999445665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58f3454ada525%3A0x17a47532108ac5f1!2sPlan%20de%20Vivienda%20Ecuador%2C%20Quito%20170205!5e0!3m2!1ses!2sec!4v1610077220046!5m2!1ses!2sec"
                    width="600" height="450" frameborder="12" style="border:12;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe></div>

            <div class="col">
                <ul></ul>
                <li> <img src="imagenes\direccion.png" style="width: 25px;" alt="direccion"> DIRECCIÓN: Av Simon Bolivar
                    y control-plag</li>
                <li><img src="imagenes\whatsapp.jpg" style="width: 25px;" alt="whatsapp"> WHATSAPP: 0962639779 </li>
                <li> <img src="imagenes\gai.png" style="width:30px ;" alt="gmail">GMAIL: hz311505@gmail.com</li>
                <li><img src="imagenes\face.png" style="width: 25px;" alt="facebook"> FACEBOOK: steven vega</li>
                </ul>
            </div>
            <div class="col">

            </div>
        </div>
        </div>
        </div>
        </br>
    </head>
    <!-- hasta aqui -->

    <center>
        <footer>
            <p class="silver-text">Digital Musical en Sol </p>
        </footer>
    </center>