<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyecto</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stilos.css">
</head>


<body style="background-color: rgb(247, 240, 240);"></body>

<head>
    <div class="contec">
        <p>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="quienes somos.html">Quienes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="contactanos.html">Contactanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="servicios.html">Servicios
                        </a>
                    </li>
                </ul>

                <head>
                    <div class="col"></div>
                    <div class="row"></div>
                    <center>
                        <div class="border">
                            <div class="contec">
                                <h1 class="purple-text">Quienes Somos</h1>
                                <a title="ims" href="index.html">
                                    <img src="imagenes\vinilo.gif" style="width: 50px;" height="50px"
                                        alt="productos" /></a>
                    </center>
            </div>
        </div>
    </div>
    </div>
</head>
</div>
</div>
</head>
</div>

<br>
<div class="contec">
    <div class="border">

        <center>

            <img src="imagenes\digital.jpg" style="width: 800px;height: 300px;" alt="">

        </center>
    </div>
</div>
</br>

<div class="contec">
    <div class="border">
        <br>
        <p> Digital musical en sol es un catalogo de instrumentos musicales en los cuales se pueden
            encontrar instrumentos desde profesionales hasta para aprendizaje.En digita musical en sol
            damos una garantia sobre el isntrumento que se va a comprar,calidad,seguridad , es lo que le brindamos
            a nuestros usuarios respecto al producto que quieren comprar.
        </p>
        <p>
            si deseas comprar un instruento somos tú mejor opcion puedes counicarte con nosotros
            para ayor informacion a nuestras cuentas.
        </p>

        </br>
    </div>
</div>




<head>
    <br>
    <div class="row">
        <div class="col"><iframe style="width:400px;" height="150px"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.814813167841!2d-78.45181588605377!3d-0.0759695999445665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58f3454ada525%3A0x17a47532108ac5f1!2sPlan%20de%20Vivienda%20Ecuador%2C%20Quito%20170205!5e0!3m2!1ses!2sec!4v1610077220046!5m2!1ses!2sec"
                width="600" height="450" frameborder="12" style="border:12;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe></div>

        <div class="col">
            <ul></ul>
            <li> <img src="imagenes\direccion.png" style="width: 25px;" alt="direccion"> DIRECCIÓN: Av Simon
                Bolivar y
                control-plag</li>
            <li><img src="imagenes\whatsapp.jpg" style="width: 25px;" alt="whatsapp"> WHATSAPP: 0962639779
            </li>
            <li> <img src="imagenes\gai.png" style="width:30px ;" alt="gmail">GMAIL: hz311505@gmail.com</li>
            <li><img src="imagenes\face.png" style="width: 25px;" alt="facebook"> FACEBOOK: steven vega</li>
            </ul>
        </div>
        <div class="col">

        </div>
    </div>
    </br>
</head>

</html>

<center>
    <footer>
        <p class="silver-text">Digital Musical en Sol </p>
    </footer>
</center>