<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>proyecto</title>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="stilos.css">
  <link rel="stylesheet" href="popup.js">
</head>


<body>

  <head>
    <div class="contec">
      <p>
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="productos.html">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="quienes somos.html">Quienes somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="contactanos.html">Contactanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="servicios.html">Servicios
              </a>
            </li>
          </ul>

          <head>
            <div class="col"></div>
            <div class="row"></div>
            <center>
              <div class="border">
                <div class="contec">
                  <h1 class="purple-text">servicios</h1>
                  <a title="ims" href="index.html">
                    <img src="imagenes\vinilo.gif" style="width: 50px;" height="50px" alt="productos" /></a>
            </center>
        </div>
      </div>
    </div>
    </div>
  </head>
  </div>
  </div>
  </head>
  </div>


  
    <br>
    <div class="contec">
      <center>
        <div class="border " style="margin: auto; left: 30; width:800;height:800; ">
          <body style="background-color: rgb(247, 240, 240);">
          <form>
            <p  style="color: red;">llena el formulario</p>
            <p style="color: purple;">Nombre:</p><input type="text" name="nombre" placeholder="escriba sus nombre" style="color: black;" required>
            <p style="color: purple;">Apellidos:</p><input type="text" name="Apellidos" placeholder="escriba sus Apellidos" style="color: black;" required>
            <p style="color: purple;">Email:</p> <input type="email" placeholder="correo" style="color: black;" required>
            <p style="color: purple;">Contraseña:</p><input type="password" placeholder="contraseña" style="color: black;" required>
            <p style="color: purple;">Cedula:</p> <input type="number" placeholder="escriba su cedula" style="color: black;" required>
            <p style="color: purple;">Año de nacimiento: </p><input type="date" name="fechanac" placeholder="escriba su fecha de nacimiento" style="color:black ;"  required >
            <p style="color: purple;">Celular: </p><input type="number" name="fechanac" placeholder="escriba su celular" style="color: black;" required>
            <p style="color: purple;" >Nacionalidad: </p><input type="text" name="nacionalidad" placeholder="escriba su nacionalidad" style="color: black;" required>
            <p style="color:purple;">Sexo:</p>
            <input type="radio" name="hm" value="h" required> Hombre
            <input type="radio" name="hm" value="m" required> Mujer
            </p>
            <p style="color:purple;">Edad:</p>
            <input type="radio" name="edad" value="menor" required> menor de edad
            <input type="radio" name="edad" value="adulto" required> mayor de edad
            </p>
            <p>
              <input type="submit" value="Enviar" style="color: darkolivegreen;">
              <input type="reset" value="Borrar" style="color: darkolivegreen;">
            </p>
          </form>
  </body>
  </div>
  </div>
  </br>
  </center>

  <br>
  <div class="contec">
    <div class="border " style="margin: auto; left: 30; width:1300;height:600; " >
  

      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="estilos.css">
        <title>Ventana Emergente Animada</title>
      </head>

      <body>

        <div class="contenedor">
          <article>
            <h1>Los Mejores servicios</h1>
            <button id="btn-abrir-popup" class="btn-abrir-popup">CLICK PARA SUSCRIBIRTE</button>
            <p>
              En digital musicla el sol encontraras los mejores productos musicales por esta razón nos preocupamos de
              que
              nuestros clientes tengan el mejor servicio disponible posible , productos de calidad y con garantia con el
              personal más calificado.
            </p>
            <p>
              Si te suscribes a nuestra pagina te darenos un descuento del 10% porciento en todos nuestros productos ,
              puedes
              counicarte con nosotros las 24 horas.
            </p>
            <p>
              La música es el arte mas noble si deseas comprar un instrumento somos tu mejor opción.
            </p>
          </article> 



          <div class="overlay" id="overlay">
            <div class="popup" id="popup">
              <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
              <h3>Digital Musical en Sol</h3>
              <h4> Suscribete y recibe un cupon de descuento del 10%.</h4>
              <form action="">
                <div class="contenedor-inputs">
                  <input type="email" placeholder="correo" style="color: black;" >
                  <input type="password" placeholder="contraseña" style="color: black;">
                </div>
                <input type="submit" class="btn-submit" value="Suscribirse">
              </form>
            </div>
          </div>
        </div>
        <script src="popup.js"></script>
      </body> 

      </html>




      <head>
        <br>
        <div class="row">
          <div class="col"><iframe style="width:400px;" height="150px"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.814813167841!2d-78.45181588605377!3d-0.0759695999445665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58f3454ada525%3A0x17a47532108ac5f1!2sPlan%20de%20Vivienda%20Ecuador%2C%20Quito%20170205!5e0!3m2!1ses!2sec!4v1610077220046!5m2!1ses!2sec"
              width="600" height="450" frameborder="12" style="border:12;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe></div>

          <div class="col">
            <ul></ul>
            <li> <img src="imagenes\direccion.png" style="width: 25px;" alt="direccion"> DIRECCIÓN: Av Simon Bolivar y
              control-plag</li>
            <li><img src="imagenes\whatsapp.jpg" style="width: 25px;" alt="whatsapp"> WHATSAPP: 0962639779 </li>
            <li> <img src="imagenes\gai.png" style="width:30px ;" alt="gmail">GMAIL: hz311505@gmail.com</li>
            <li><img src="imagenes\face.png" style="width: 25px;" alt="facebook"> FACEBOOK: steven vega</li>
            </ul>
          </div>
          <div class="col">

          </div>
        </div>
        </br>
      </head>

      </html>

    </div>
  </div> </br>

  <center>
    <footer>
      <p class="silver-text">Digital Musical en Sol </p>
    </footer>
  </center>