
    .purple-text {
        color: rgb(97, 16, 97);
    }

    .silver-text {
        color: silver;
    }

    .smaller-maps {
        width: 250px;
        height: 250px;
    }

    .smaller-img {
        width: 1000px;
        height: 400px;
    }

    body {
        width: 1300px;
        margin: 0 auto;
    }

	.red-text{
		color:rgb(146, 6, 6);

	}
	
	.mustaed.tex { 
		background-color: darksalmon;}

    body{
    width: 1300px;
    margin: 10 auto;
    }
     .purple-text{
        color: rgb(85, 8, 85);
     }

     .silver-text{
         color: silver;
     }
    

    

    body{
    width: 1300px;
    margin: 10 auto;
    }
     .purple-text{
        color: rgb(85, 8, 85);
     }

     .silver-text{
         color: silver;
     
    


	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;

	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
} 



            body{
            width: 1300px;
            margin: 10 auto;
            }
.silver-text{
    color: silver;
}





:root {
    --colorTextos: #49454567;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: #4568DC;
    /* fallback for old browsers */
    
    /* Chrome 10-25, Safari 5.1-6 */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 5px;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-weight: 10;
}

form{
    background: rgb(3, 61, 65);
    padding: 10px 0;
    box-shadow: 0 0 6px 0 rgba(5, 5, 5, 0.8);
    border-radius: 10px;
}

.form{
    width: 50%;
    margin: 25px;
}

form .grupo{
    position: relative;
    margin: 15px ;
}

input{
    background: none;
    color: #0c3c3f;
    font-size: 18px;
    

    border-bottom: 1px solid var(--colorTextos);
}


button{
    font-family: 'roboto';
    background: #030d31;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a082b, #08102b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2e0430, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: rgb(0, 0, 0);
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}